section {
    padding: 0 80px;
}




/* Gallery */

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 21vw;
    float:left;
    padding: 10px;
}

.banner_link {
    cursor: pointer;
}